<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <h3 class="section-heading">What it is</h3>
                <hr class="light">
                <p class="text-faded"> A  unique five-day, natured-inspired, outdoor learning experience on striving to achieve and maintain serenity following a personal loss
                    <br>On the-trail teaching by both a  Master Life Coach and national-award winning geology professor</p>
                <!-- Remove button for now <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <h3 class="section-heading">Goal</h3>
                <hr class="light">
                <p class="text-faded">Finding,  growing, and sharing a happy, contented life style</p>
                <!-- Remove button for now <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">If you…<br>
                … have lost a loving relative or companion<br>
                … are struggling to rediscover happiness to share with others<br>
                … are curious about the origins of alpine beauty<br>
                … would like to experience nature’s healing power<br>
                … enjoy learning</p>
               <!-- Remove button for now <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
