<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Register today!</h2>
                <hr class="primary">
                <p>To ensure maximum personal interaction between the instructors and participants, enrollment in the seminar will be limited to 11 people. The registration fee of $----- will cover the cost of all meals, daily happy hour, lodging, and field travel during the seminar.
                  <br><br>Participants are responsible for their own travel expenses to and from the Bozeman airport. They will be met there and transported without cost to the Field Station.
</p>
<a href="#" class="btn btn-default">Registration Form</a>
<a href="#" class="btn btn-default">Contact Us</a>

            </div>
    </div>
</section>
