<aside class="bg-dark" id="focus">
    <div class="container">
            <div>
                <h2 class="section-heading text-center">FOCUS</h2>

                <p>
                  For someone who has lost a spouse, a loving friend or partner, a parent, a child, a sibling, or other close relative, the gradual substitution of happiness for sadness is most challenging. Nevertheless, it is essential for one’s well-being and interactions with others.<br>
                  Sharing Joy Again! will be an interactive, holistic educational experience. It will engage your mind as we explore and present guidelines for confronting this challenge.  It is designed for like-minded people who are forward thinking,  love nature, and are curious about the origin of its beauty, as well as how being surrounded by this beauty can ease and inspire learning.<br>
                  Teaching will primarily focus on how to create and maintain joy, love, and serenity through the power of our minds, or MINDPOWER.  However, participants also will  leave the course with an in-depth knowledge of how the story of the alpine setting’s evolution through deep time can be read in the marvelous history “books” that have been left for us—rocks and landscape.
                </p>
        </div>
    </div>
</aside>
