<aside class="bg-white" id="focus">
    <div class="container">
            <div>
                <h2 class="section-heading text-center">FOCUS</h2>

                <p text-color="000">
                  For someone who has lost a spouse, a loving friend or partner, a parent, a child, a sibling, or other close relative, the gradual substitution of happiness for sadness is most challenging. Nevertheless, it is essential for one’s well-being and interactions with others.<br><br>
                  Sharing Joy Again! will be an interactive, holistic educational experience. It will engage your mind as we explore and present guidelines for confronting this challenge.  It is designed for like-minded people who are forward thinking,  love nature, and are curious about the origin of its beauty, as well as how being surrounded by this beauty can ease and inspire learning.<br><br>
                  Teaching will primarily focus on how to create and maintain joy, love, and serenity through the power of our minds, or MINDPOWER.  However, participants also will  leave the course with an in-depth knowledge of how the story of the alpine setting’s evolution through deep time can be read in the marvelous history “books” that have been left for us—rocks and landscape.
                </p>
                <h2 class="section-heading text-center">FOCUS</h2>

                <p text-color="000">
                  Virtually the entire learning experience will take place on a series of hikes over gently hilly terrain. Stops will punctuate the hikes for interactive lessons on nature and living contently. Instruction will be as in a traditionally taught class; it will not be based on interactive group therapy.     
                <br><br>Many experts in life coaching recognize the value of relaxing their clients’ minds simply by talking about something else. This makes them more receptive to new ideas and insights. Discussion of a mix of life-lessons and geology throughout the hikes will form the foundation of the learning experience.
                <br><br>Optional evening, personalized one-on-one coaching lessons will supplement the daytime learning in the field. </p>

        </div>
    </div>
</aside>
