<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sharing Joy Again</h1>
            <hr>
            <h3>Vacation Differently, Discover More</h3>
            <!-- Do not display this at the moment
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            --->
            <p text-align="center">Tobacco Root Mountians, Montana<br>
              August 30-September 3, 2019  and September 5-9,2019*<br>
              <i>(*Optional overnight trip to Yellowstone Park will be offered if sufficient interest exists)</i>
            </p>
        </div>
    </div>
</header>
