<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="section-heading">What it is</h3>
                <hr class="light">
                <p> A  unique five-day, natured-inspired, outdoor learning experience on striving to achieve and maintain serenity following a personal loss
                    <br>On the-trail teaching by both a  Master Life Coach and national-award winning geology professor</p>
            </div>
            <div class="col-lg-5">
                <h3 class="section-heading">Goal</h3>
                <hr class="light">
                <p>Finding,  growing, and sharing a happy, contented life style</p>
            </div>
        </div>
    </div>
</section>
