<section class="bg-primary" id="instructors">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="instructors" src="img/img_avatar2.png" alt="Avatar">
                <h3 class="section-heading">Candace Burton, PhD</h3>
                <hr class="light">
                <p> Dr. Burton is a Master Life Coach, Holistic Therapist, B.E.S.T. Elite Master holding seven additional certifications in related psycho-energetic fields, best-selling author, and President of Burton Enterprises and Mindpower Therapeutics in Ft. Lauderdale, Florida.
                  <br><br>Her degrees in Hypnotherapy and Spiritual Psychology, coupled with her unique and passionate teaching style, enable her to empower the mind to release subconscious beliefs that prevent one from attaining desired life goals: happiness, peace, passion, and manifesting dreams and aspirations.
                </p>
            </div>
            <div class="col-lg-5">
              <img class="instructors" src="img/img_avatar.png" alt="Avatar">
                <h3 class="section-heading">Dr. Lee Suttner, PhD</h3>
                <hr class="light">
                <p>Dr. Suttner is Emeritus Robert Shrock Professor of Earth and Atmospheric Sciences at Indiana University, Bloomington. He is a recipient of the nation’s highest teaching award bestowed by the National Association of Geoscience Teachers, the President’s Award for Outstanding Teaching at Indiana University, and the Outstanding Educator Award from the Eastern Section of the American Association of Petroleum Geologists, all in part in recognition of his excellent teaching in the field.
                  <br><br>Dr. Suttner also has co-authored multiple award-winning, peer-reviewed journal articles related to his research on the origin and growth of major mountain ranges in the western interior of the United States.
                </p>
            </div>
        </div>
    </div>
</section>
