<aside class="bg-white" id="participants">
    <div class="container">
            <div>
                <h2 class="section-heading text-center">PARTICIPANTS</h2>
                <p text-color="000">
                  WHO SHOULD PARTICIPATE?
                  Sharing Joy Again! will benefit most those who have successfully navigated a period of relatively intense immediate grief following a loss. However, they still might possess related  emotional needs and are looking for a path to help them transition into a more satisfying life style.
                  <br><br>Persons who regularly walk even just short distances, are in at least moderately good shape, and are at ease hiking off-trail through grassy or mostly sage-covered terrain will find no significant discomfort with the traverses.  Although the traverses may be up to a mile and a half in length, numerous stops will provide sufficient time to sit, relax, and listen to and interact with the instructors. Ample additional opportunity to explore questions with the instructors will exist during the hikes between stops.
                </p>
            </div>
            <div id="setting">
              <h2 class="section-heading text-center">SETTING</h2>
              <p text-color="000">
                The beautiful 60 acre campus of the Indiana University Judson Mead Geologic Field Station will be the base for the entire three-day retreat. It is scenically located along the South Boulder River on the north side of the Tobacco Root Mountain Range in southwest Montana. The campus is about an hour’s drive from the Bozeman-Yellowstone International Airport.
                <br><br>Many consider this Field Station to be the best of its kind in the nation. Buildings include a lodge in which to relax around a centrally located fireplace and library, and also in which all meals will be served. Sleeping quarters are in modern private rooms a short walk across campus from the lodge. Each has a single queen bed and its own bathroom and shower.
                <br><br>Participants will have access to dual-monitor, desktop computer workstations in a recently built classroom/technology center.
              </p>
            </div>
    </div>
</aside>
