<aside class="bg-white" id="participants">
    <div class="container">
            <div>
                <h2 class="section-heading text-center">PARTICIPANTS</h2>
                <p text-color="000">
                  WHO SHOULD PARTICIPATE?
                  Sharing Joy Again! will benefit most those who have successfully navigated a period of relatively intense immediate grief following a loss. However, they still might possess related  emotional needs and are looking for a path to help them transition into a more satisfying life style.
                  <br><br>Persons who regularly walk even just short distances, are in at least moderately good shape, and are at ease hiking off-trail through grassy or mostly sage-covered terrain will find no significant discomfort with the traverses.  Although the traverses may be up to a mile and a half in length, numerous stops will provide sufficient time to sit, relax, and listen to and interact with the instructors. Ample additional opportunity to explore questions with the instructors will exist during the hikes between stops.
                </p>
        </div>
    </div>
</aside>
